{% extends 'boilerplate.html' %}

{% block content %}
	<style>
		.ghBlogView {
            border-radius: .25em;
            background: #ccc;
			padding: .5em;
/* 			border: 2pt inset; */
/* 			border-radius: .25em; */
		}
		.ghBlogEntry {
            background: #fff;
            border: 2pt outset;
			padding: .5em;
			
		}
		h3 {
            display: inline;
		}
		h6 {
            margin: 0;
            padding: 0;
            display: inline;
            font-size: 75%;
		}
	</style>
	<div class="ghBlogView">

	<!-- TODO -->
	{% if not ghEntries %} 
		<p>No data to show.</p>
	{% else %}
		{% for entry in ghEntries %}
			<div class="ghBlogEntry">
			<h3><a href="?id={{entry.id}}">{{entry.title}}</a></h3><h6>[ &#x2710;edit | &#x2718;remove ]</h6>
			<p>{{entry.content}}</p>
			</div>
		{% endfor %}
	{% endif %}
	</div>
{% endblock %}
