{% extends 'boilerplate.html' %}

{% block content %}
	<style>
		.ghBlogView {
			padding: .5em;
/* 			border: 2pt inset; */
/* 			border-radius: .25em; */
		}
		.ghBlogEntry {
			padding: .5em;
		}
	</style>
	<div class="ghBlogView">

	<!-- TODO -->
	{% if 1==0 %} 
		<p>No data to show.</p>
	{% else %}
		{% for entry in ghEntries %}
			<div class="ghBlogEntry">
			<h3><a href="?id={{entry.id}}">{{entry.title}}</a></h3>[ edit | remove ]
			<p>{{entry.content}}</p>
			</div>
		{% endfor %}
	{% endif %}
	</div>
{% endblock %}
