<!-- boilerplate.html ::
        2017, polarysekt
        polarysekt@protonmail.com
-->
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="polarysekt" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"\>
				<title>{{ghSite_Name}}::{{ghPage_Title}}</title>
    </head>
    <body>
	<header>
		<a name="top"/>
		<h1>{{ghSite_Name}}</h1>
		<span>Community: {{ghFlop}}</span>
		<nav>
			<!-- TODO:: current page as selected 'tab' -->
			[ <a href="blog">home</a> | <a href="newpost">&#x2710;new</a> ]
		</nav>

		<h2>{{ghPage_Title}}</h2>
	</header>
	<main>      
		{% block content %}
        {% endblock %}
	</main>
	<footer>
		<nav>
			[ <a href="#top">top</a> ]
		</nav>
		<span class="copyrightInfo">
			Copyright &copy; 2017, Geoffrey Hadler
		</span>
	</footer>
    </body>
</html>
